body {
    background-color: #272727;
    color: #747474
}

h1 {
    text-align: center
}
#angery{
    color:#14A76C
}
#chonky{
    color:#14A76C
}
#annoyance{
    color:#14A76C
}
#beserk {
    color: red
}

/* TODO 
set the scores to the side
bottom center the buttons
create bar that moves
*/